<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="id">Product_id</label>
        <input type="text" name="id" required><br>
        <label for="name">Product_Name</label>
        <input type="text" name="name" required><br>
        <label for="user">User</label>
        <select name="user_id">
            {% for x in data1 %}
            <option value="{{x.user_id}}">{{x.user_name}}</option>
            {% endfor %}
        </select>
        <button type="submit">ADD</button>
    </form>
</body>
</html>